@font-face {
 font-family: "techno";
 src: url("../doc/Technocracy.ttf");
}

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html{
  background-color: #fafafa;
}






/* ==========================================================================
  mise en forme HEADER
   ========================================================================== */

.logo {
  display: none;
}

.fontSpecial {
  font-family: "techno";
}

.divLogo {
  position: relative;
  height: auto;
  top: 0px;
}

.divLogo h1 {
  position: relative;
  font-size : 35px;
}

.part1h1 {
  font-weight: lighter;
}


/*pour suppimer le gap en haut de la page */
.nav-wrapper {
  margin-top: 0;
}

nav {
  min-height: 80px;
}

/* ==========================================================================
   MAIN PART ON INDEX
  ========================================================================== */

#articles {
  display: flex;
  flex-flow: row wrap;
  max-width: 1000px;
  margin: 15px auto;
}

#articles > div {
  max-width: 300px;
}

#articles > div .card-image {
  min-height: 300px;
}

.tagprice {
  position: absolute;
  right: 0;
  top : -1px;
  padding: 10px 14px;
  font-size: 25px;
  font-weight: bold;
}

.card .card-content {
  padding: 0px 10px;
  min-height: 100px;
  text-align: justify;
  margin-top: -10px;
}

.card .card-title {
  font-weight: bolder;
  text-shadow: 0px 1px 0.5px white;
  font-size: 25px;
}

/* ==========================================================================
   FOOTER
  ========================================================================== */


#foot {

  background-color: #bdbdbd;
}


#social {
  margin-left: 5px;
  margin-right: 5px;
}

#Divfooter {
  text-align: center;
}
/* ==========================================================================
  Ficheproduit
   ========================================================================== */
   

.detail_Card {
  width: 50vw;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
}

.HeadDetail_Card > h2 {
  color: #E57373 ;
}

#BtnRetour {
  margin-left: auto;
  margin-right: auto;
  width: 135px;
  background-color: #E57373;
}

a {
  color: #fafafa;
}

#Main {
display: flex;
flex-flow: column nowrap;
min-height: 75vh;
}

/* ==========================================================================
   ARTICLE.PHP
   ========================================================================== */
#AddRemove{
   min-height: 62vh;
   background-color: #e57373 ;
}

#rowAddRemove{
  margin: 0;
  width: 80vw;
  display: flex;
}

#FormSupp{
  text-align: center;
}

.suppArticleP{
      width: 50%;
      margin-left: auto;
      margin-right: auto;
}

.inputTitre{
      width: 75% !important; 
}

/* ==========================================================================
   MEDIA QUERY
   ========================================================================== */

@media (min-width: 640px) {

  .logo {
    display: block;
    width: 120px;
    position: absolute;
    left: -15px;
    top: 10px;
  }


  .divLogo {
    top: 15px;
  }

  .divLogo h1 {
    font-size: 45px;
    top: 12px;
  }

  .part1h1 {
    letter-spacing: -5px;
  }

  h1::first-letter {
    font-size: 72px;
  }

  nav {
    min-height: 140px;
  }

}
